 Volume in drive S is Education
 Volume Serial Number is EC40-F634

 Directory of S:\Software\Angular_part1

03-03-2020  12:28 AM    <DIR>          .
03-03-2020  12:28 AM    <DIR>          ..
03-03-2020  12:28 AM                 0 .gitignore
28-02-2020  10:22 PM                43 angular-part1.code-workspace
16-02-2020  10:46 PM    <DIR>          Demo
17-02-2020  08:44 PM               449 demo.html
28-02-2020  09:59 PM                 0 doubt.html
26-02-2020  11:27 PM    <DIR>          practice
16-02-2020  10:46 PM    <DIR>          Typescript
               4 File(s)            492 bytes
               5 Dir(s)  66,487,267,328 bytes free
/practice/example
/practice/EmpInfoAjaxCallEx
